<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Validação Personalizada</title>
</head>
<body>
    <%
        var cssErro = {"nome":"","email":"","cpf":""}  
        var msgErro = {"nome":"","email":"","cpf":""}
    if(listaErros) { 
         
        listaErros.errors.forEach(function(itemErro){
             if (itemErro.path  == "nome"){ 
                cssErro.nome = "erro";
                msgErro.nome = itemErro.msg;
            }  
             if (itemErro.path  == "email"){ 
                cssErro.email = "erro";
                msgErro.email = itemErro.msg;            
             }  
             if (itemErro.path  == "cpf"){
                cssErro.cnpj = "erro";
                msgErro.cnpj = itemErro.msg;                
             }  
         }); 
     }; %>

    <form method="post" action="/index">
        <label for="nome">Razão Social:</label>
        <input type="text" name="nome" id="nome" value="<%= campos.nome %>" class="<%= cssErro.nome %>">
        <span><%= msgErro.nome %></span>

        <br>
        <label for="email">E-mail:</label>
        <input type="text" name="email" id="email" value="<%= campos.email  %>" class="<%= cssErro.email %>">
        <span><%= msgErro.email %></span>   

        <br>
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" id="cpf" value="<%= campos.cpf %>" class="<%= cssErro.cpf %>">
        <div><%= msgErro.cpf %></div>

        <br>
        <input type="submit" value="Enviar">
    </form>

    <% if(resultado){%>
        <h2>Resutados:</h2>
        <p>Nome: <%= resultado.nome %>  </p>
        <p>e-mail: <%= resultado.email %> </p>
        <p>CPF: <%= resultado.cpf%> </p>
    <% }else{%>
        <h2>Não temos retorno</h2>
    <% }%>
</body>
</html>